/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* variables */
:root {
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Variable",
    "Segoe UI", "Roboto Flex", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: ui-monospace, "SF Mono", Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --accent: #993366; /* actually a flipped version of rebeccapurple */
  --accent-light: #b43c78;
  --fg: #000;
  --bg: #fff;
}

/* variables (dark) */
@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fff;
    --bg: #121212;
  }
}

/* body styles */
body {
  font-family: var(--font-sans);
  margin: 0 2rem;
  color: var(--fg);
  background: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.05em;
}

/* codeblocks */
pre {
  font-family: var(--font-mono);
  font-size: 0.8em;
}

/* unused */
.fa-magnifying-glass {
  color: var(--fg);
}

/* center a div challenge (impossible) */
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10%;
}

.left-margin {
  margin: 0px 16px;
}

/* uv logs */
#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: var(--fg);
  font-family: var(--font-mono);
}

#uv-register-sw {
  color: var(--fg);
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333333;
}

#uv-register-sw.show {
  display: block;
}

/* logo */
.logo {
  width: 120px;
  font-size: 120px;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  height: 120px;
  margin-top: 0rem;
}

.logo-wrapper .text {
  font-size: 75px;
  color: var(--fg);
}

.logo-wrapper h1 {
  color: var(--fg);
}

/* tabs */
.tab {
  display: none;
}

.tab.shown {
  display: initial;
}

/* header */
h1 {
  font-size: 2.1em;
  font-weight: 750;
}

/* footers */
footer {
  position: absolute;
  bottom: 0;
  width: auto;
  line-height: 1.5em;
  text-align: left;
  padding: 1em;
}

footer .left {
  float: left;
}

footer .right {
  float: right;
  text-align: right;
}

/* make links not shit */
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--accent) !important;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
}

/* subtitles */
span:has(i),
i {
  font-size: 0.9rem;
  margin: 2px;
  padding: 5px;
  margin-bottom: 0.8rem;
  color: #888;
  text-align: center;
}

.desc p {
  width: 560px;
  color: rgba(253, 253, 253, 0.514);
}

/* address bar */
#uv-address {
  background: none;
  border: none !important;
  outline: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  font-family: var(--font-sans);
  color: var(--fg);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  font-size: 0.9em;
  height: 5vh;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  justify-self: flex-end;
}

#uv-search-engine-wrapper {
  position: relative;
  width: auto;
  height: 3rem;
  float: left;
  margin: 0px;
  padding: 0px;
  padding-right: 1rem;
}

/* select */
select {
  /* reset */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  /* ie moment??? */
  display: none;
}

select {
  color: var(--fg);
}

.select {
  position: relative;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: transparent;
  color: var(--fg);
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  display: -ms-grid;
  display: grid;
  grid-template-areas: "select";
}

select,
.select::after,
.select:after {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
}

.select::after,
.select:after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

/* forms */
form {
  margin-top: 1rem;
}

/* ignore 💀 */
/* *{ 
  outline: 1px solid red;
 } */

#form-container {
  -webkit-transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  border: 1.25px solid var(--accent);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 50vw;
  margin-top: 5px;
  border-radius: 100vw;
  color: var(--fg);
  padding: 0px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form-container:has(:focus) {
  /* border-width: 1.5px; */
  border-radius: 10vw;
  -webkit-animation: border-pulse 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: border-pulse 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  -webkit-transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

/* credits */

.credit:hover {
  border-color: var(--accent);
}

.credit a {
  color: var(--fg) !important;
  -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.credit a:hover {
  color: rebeccapurple !important;
}

.credit {
  border-radius: 24px;
  padding: 0.6em 1.1em;
  display: block;
  border: var(--fg) 1px solid;
  margin-block: 1em;
  color: var(--fg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 2em;
  -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
  /* margin-bottom: 15px; */
}

.credit:has(:checked) {
  max-height: 640em;
  -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.credit label {
  margin-left: auto;
  margin-right: 15px;
}

.credit a,
.credit label {
  color: var(--fg);
  text-decoration: underline;
  text-align: right;
}

.credit pre {
  display: none;
  width: 100%;
}

.credit label::after {
  content: "show license";
  cursor: pointer;
}

.credit input:checked + label::after {
  content: "hide license";
}

.credit input:checked ~ pre {
  display: block;
}

/* animation */
@-webkit-keyframes border-pulse {
  0% {
    border-color: var(--accent);
  }
  50% {
    border-color: var(--accent-light);
  }
  90% {
    border-color: var(--accent);
  }
}
@keyframes border-pulse {
  0% {
    border-color: var(--accent);
  }
  50% {
    border-color: var(--accent-light);
  }
  90% {
    border-color: var(--accent);
  }
}

/* tab buttons */
.tabButton {
  text-align: left;
  float: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 0.4em;
  border: none;
  background: transparent;
  color: var(--fg);
  font-size: 1.1rem;
  border-bottom: 0px solid transparent;
  -webkit-transition: border 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: border 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: border 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.tabButton > svg {
  fill: var(--fg);
}

.tabButton.active {
  border-bottom: 4px solid var(--accent);
}

.tabButton:hover:not(.active) {
  border-bottom: 4px solid #888;
}

nav {
  margin-top: 0.8rem;
}

/* extra styles */
.portrait-only {
  display: none;
}

@media screen and (orientation: portrait) {
  #form-container {
    width: 80vw;
  }
  footer .left {
    display: none;
    visibility: hidden;
  }

  .portrait-only {
    display: initial;
  }

  .landscape-only {
    display: none;
  }
}

/* more buttons */
button.btn.primary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--fg);
  color: var(--bg);
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 6px;
  outline: none;
  background: var(--fg);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

button.btn.primary:hover {
  background: var(--accent);
  border-color: var(--accent);
  color: var(--fg);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

button.btn.primary:active {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}
