:root {
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI Variable",
    "Segoe UI", "Roboto Flex", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: ui-monospace, "SF Mono", Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --accent: #993366; /* actually a flipped version of rebeccapurple */
  --accent-light: #b43c78;
  --fg: #000;
  --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fff;
    --bg: #121212;
  }
}

body {
  font-family: var(--font-sans);
  margin: 0 2rem;
  color: var(--fg);
  background: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.05em;
}

pre {
  font-family: var(--font-mono);
  font-size: 0.8em;
}

.fa-magnifying-glass {
  color: var(--fg);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.left-margin {
  margin: 0px 16px;
}

#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: var(--fg);
  font-family: var(--font-mono);
}

#uv-register-sw {
  color: var(--fg);
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333333;
}

.tab {
  display: none;
}

.tab.shown {
  display: initial;
}

#uv-register-sw.show {
  display: block;
}

.logo {
  width: 120px;
  font-size: 120px;
  text-align: center;
  align-self: center;
  user-select: none;
  -webkit-user-select: none;
  height: 120px;
  margin-top: 0rem;
}

.logo-wrapper .text {
  font-size: 75px;
  color: var(--fg);
}

.logo-wrapper h1 {
  color: var(--fg);
}

h1 {
  font-size: 2.1em;
  font-weight: 750;
}

footer {
  position: absolute;
  bottom: 0;
  width: auto;
  line-height: 1.5em;
  text-align: left;
  padding: 1em;
}

footer .left {
  float: left;
}

footer .right {
  float: right;
  text-align: right;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--accent) !important;
  font-weight: 500;
}

span:has(i), i {
  font-size: 0.9rem;
  margin: 2px;
  padding: 5px;
  margin-bottom: 0.8rem;
  color: #888;
  text-align: center;
}

footer a:hover {
  text-decoration: underline;
}

.desc p {
  width: 560px;
  color: rgba(253, 253, 253, 0.514);
}

#uv-address {
  background: none;
  border: none !important;
  outline: none !important;
  appearance: none !important;
  font-family: var(--font-sans);
  color: var(--fg);
  flex-grow: 1;
  transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  font-size: 0.9em;
  height: 3vw;
  align-self: center;
  justify-self: flex-end;
}

#uv-search-engine-wrapper {
  position: relative;
  width: auto;
  height: 3rem;
  float: left;
  margin: 0px;
  padding: 0px;
  padding-right: 1rem;
}

#uv-search-engine {
  appearance: none;
  outline: none;
  padding: 0.5em;
  font-size: 1rem;
  background: none;
  color: var(--fg);
  border: 1px solid var(--fg);
  border-radius: 8px;
  width: auto;
  height: 3rem;
  cursor: pointer;
}

form {
  margin-top: 1rem;
}

/* ignore 💀 */
/* *{ 
  outline: 1px solid red;
 } */ 

#form-container {
  transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
  border: 1.25px solid var(--accent);
  color: var(--text-color);
  border-radius: 3px;
  outline: none;
  width: 50vw;
  margin-top: 5px;
  border-radius: 100vw;
  color: var(--fg);
  padding: 0px 17px;
  display: flex;
}

#form-container:has(:focus) {
  /* border-width: 1.5px; */
  border-radius: 10vw;
  animation: border-pulse 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  transition: border-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.credit:hover {
  border-color: var(--accent);
}

.credit a {
  color: var(--fg) !important;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.credit a:hover {
  color: rebeccapurple !important;
}

.credit {
  border-radius: 24px;
  padding: 0.6em 1.1em;
  display: block;
  border: var(--fg) 1px solid;
  margin-block: 1em;
  color: var(--fg);
  display: flex;
  flex-wrap: wrap;
  max-height: 2em;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
  /* margin-bottom: 15px; */
}

.credit:has(:checked) {
  max-height: 640em;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.credit label {
  margin-left: auto;
  margin-right: 15px;
}

.credit a,
.credit label {
  color: var(--fg);
  text-decoration: underline;
  text-align: right;
}

.credit pre {
  display: none;
  width: 100%;
}

.credit label::after {
  content: "show license";
  cursor: pointer;
}

.credit input:checked + label::after {
  content: "hide license";
}

.credit input:checked ~ pre {
  display: block;
}

@keyframes border-pulse {
  0% {
    border-color: var(--accent);
  }
  50% {
    border-color: var(--accent-light);
  }
  90% {
    border-color: var(--accent);
  }
}

.tabButton {
  text-align: left;
  float: left;
  appearance: none;
  margin-right: 0.4em;
  border: none;
  background: transparent;
  color: var(--fg);
  font-size: 1.1rem;
  border-bottom: 0px solid transparent;
  transition: border 0.4s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.tabButton.active {
  border-bottom: 4px solid var(--accent);
}

.tabButton:hover:not(.active) {
  border-bottom: 4px solid #888;
}

nav {
  margin-top: 0.8rem;
}

.portrait-only {
  display: none;
}

@media screen and (orientation: portrait) {
  #form-container {
    width: 80vw;
  }
  footer .left {
    display: none;
    visibility: hidden;
  }

  .portrait-only {
    display: initial;
  }

  .landscape-only {
    display: none;
  }
}
